@font-face {
    font-family: 'Untitled Sans';
    src: url('/fonts/UntitledSans-Regular.otf') format('otf'),
            url('/fonts/UntitledSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }